footer.bottom {
    width: 100%;
    background-color: #b4c6f0;
    padding: 40px 0;
    text-align: center;
    margin-top: auto;
    position: relative;
    bottom: 0;
}

.center {
    text-align: center;
    color: #4d5791;
    font-weight: bold;
}
